<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" asp-append-version="true" />
    <link rel="stylesheet" href="TaskTracker.WebApp.styles.css" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="css/components/search-bar.css" rel="stylesheet" />
    <link href="css/components//search-bar.css" rel=stylesheet />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/autoscroll.js"></script>
    <script src="js/infinity-scroll.js"></script>
    <script src="js/fileUtils.js?v=2"></script>
</body>

</html>
