@using Microsoft.AspNetCore.Components.Authorization
@using TaskTracker.WebApp.Components.Pages

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <div style="height:100vh; width:100%; display:flex; justify-content:center; align-items:center;">
                    <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
                </div>
            </Authorizing>
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
