@page "/"
@using TaskTracker.WebApp.Components.Pages.Auth

<AuthGuard>
    <MudLayout>
        <MudAppBar Elevation=4
                   Color=@Color.Primary>
            <MudText Typo=@Typo.h6>
                TaskTracker
            </MudText>

            <MudTextField @bind-Value="_search"
                          Placeholder="Search..."
                          Variant=@Variant.Outlined
                          Style="width: 250px"
                          Class="search-bar ml-8 white-adornment"
                          Margin=@Margin.Dense
                          AdornmentIcon=@Icons.Material.Filled.Search
                          Adornment=@Adornment.Start />

            <MudSpacer />

            <MudButton Color=@Color.Inherit>
                <MudIcon Icon=@Icons.Material.Filled.AccountCircle
                         Size=@Size.Large />
                <MudText Class="ml-2">@_username</MudText>
            </MudButton>
        </MudAppBar>

        <MudMainContent>
            <MudContainer Class="my-8">
                <MudStack>
                    <MudStack Row=true
                              AlignItems=@AlignItems.Center
                              Justify=@Justify.SpaceBetween>

                        <MudText Typo=@Typo.h5>
                            Your boards
                        </MudText>

                        <MudButton Variant=@Variant.Filled
                                   Color=@Color.Primary
                                   StartIcon=@Icons.Material.Filled.Add
                                   @onclick=@OnCreateBoardClicked>
                            Create a board
                        </MudButton>
                    </MudStack>

                    <MudStack>
                        @foreach (var board in _boards)
                        {
                            <div>
                                <MudPaper Elevation=4
                                          Class="board-card"
                                          @onclick=@(() => OnBoardClicked(board.Id))
                                          Style=@($"background-color:{board.DisplayColor};" + "color: white;")>
                                    <MudStack>

                                        <MudText Typo=@Typo.h6>
                                            @board.Title
                                        </MudText>

                                        <MudStack Row=true AlignItems=@AlignItems.Center>
                                            <MudText Typo=@Typo.body2
                                                     Class="board-meta">
                                                @board.TasksCount tasks&nbsp;&nbsp;
                                                @board.MembersCount members
                                            </MudText>

                                            <MudSpacer />

                                            <MudButton Variant=@Variant.Text
                                                       Style="color: white;">
                                                <MudAvatarGroup Max=3>
                                                    @foreach (var member in board.Members)
                                                    {
                                                        <MudAvatar>
                                                            <MudIcon Icon=@Icons.Material.Filled.AccountCircle/>
                                                        </MudAvatar>
                                                    }
                                                </MudAvatarGroup>
                                            </MudButton>
                                        </MudStack>

                                    </MudStack>
                                </MudPaper>
                            </div>
                        }
                    </MudStack>
                </MudStack>

            </MudContainer>
        </MudMainContent>

    </MudLayout>
</AuthGuard>
