@page "/profile/{UserId:int}"
@using TaskTracker.WebApp.Components.Layout.Headers
@using TaskTracker.WebApp.Components.Pages.Auth
@using Microsoft.AspNetCore.Components.Forms

<AuthGuard Context=authContext>
    <MudLayout Style="min-height: 100dvh; display: flex; flex-direction: column;">
        <Header>
        </Header>

        <MudMainContent Class="d-flex flex-grow-1">
            <MudContainer Class="pa-8 d-flex flex-grow-1">
                <MudGrid Class="flex-grow-1">
                    <MudItem md=4 
                        Class="d-flex">
                        <MudCard Class="d-flex flex-grow-1 pa-2"
                                 Style="height: 70%">
                            <MudStack Spacing=1
                                      Class="d-flex flex-column"
                                      AlignItems=@AlignItems.Center>
                                <MudSkeleton SkeletonType=@SkeletonType.Circle
                                             Style="height:150px; width:150px" />

                                <MudText><b>@_user?.DisplayName</b></MudText>
                                <MudText Typo=@Typo.caption>@($"@{@_user?.Tag}")</MudText>

                                <MudPaper Elevation="0" Width="100%">
                                    <MudList T="int" @bind-SelectedValue=@_activeTab SelectionMode="SelectionMode.SingleSelection" Color="Color.Primary" Class="w-100">
                                        <MudListItem Text="General info" Value="1" Icon="@Icons.Material.Filled.Person" />
                                        <MudListItem Text="Security" Value="2" Icon="@Icons.Material.Filled.Security" />
                                    </MudList>
                                </MudPaper>
                            </MudStack>
                        </MudCard>
                    </MudItem>

                    @if (_activeTab == 1)
                    {
                        <MudItem md=8
                                 Class="d-flex"
                                 Style="height: 70%">
                            <MudCard Class="d-flex flex-grow-1 pa-4">
                                <MudStack Row=true>
                                    <MudText Typo=@Typo.h6>Personal information</MudText>

                                    <MudSpacer />

                                    @if (_isEditingMode)
                                    {
                                        <MudButton @onclick=@OnCancelClicked>
                                            Cancel
                                        </MudButton>
                                        <MudButton Variant=@Variant.Filled
                                                   Color=@Color.Primary
                                                   ButtonType=@ButtonType.Submit
                                                   Form="profile-form">
                                            Save
                                        </MudButton>
                                    }
                                    else
                                    {
                                        <MudButton Variant=@Variant.Filled
                                                   Color=@Color.Primary
                                                   @onclick=@OnEditClicked>
                                            <MudStack Row=true
                                                      Spacing=1>
                                                <MudIcon Icon=@Icons.Material.Filled.Edit />
                                                Edit
                                            </MudStack>
                                        </MudButton>
                                    }
                                </MudStack>

                                <EditForm id="profile-form"
                                          Model=@_profileUpdate
                                          OnValidSubmit=@OnUpdateUserValidSubmit>
                                    <DataAnnotationsValidator />

                                    <MudInputLabel Class="mt-3 mb-1">Display name</MudInputLabel>
                                    <MudTextField @bind-Value=@_profileUpdate.DisplayName
                                                  For=@(() => _profileUpdate.DisplayName)
                                                  Variant=@_inputVariant
                                                  Margin=@Margin.Dense
                                                  ReadOnly=@(!_isEditingMode) />

                                    <MudInputLabel Class="mt-3 mb-1">Tag</MudInputLabel>
                                    <MudTextField @bind-Value=@_profileUpdate.Tag
                                                  For=@(() => _profileUpdate.Tag)
                                                  Variant=@_inputVariant
                                                  Margin=@Margin.Dense
                                                  ReadOnly=@(!_isEditingMode)
                                                  Adornment=@Adornment.Start
                                                  AdornmentText=@("@") />

                                    <MudInputLabel Class="mt-3 mb-1">Email</MudInputLabel>
                                    <MudTextField @bind-Value=@_profileUpdate.Email
                                                  For=@(() => _profileUpdate.Email)
                                                  Variant=@_inputVariant
                                                  Margin=@Margin.Dense
                                                  ReadOnly=@(!_isEditingMode) />
                                </EditForm>
                            </MudCard>
                        </MudItem>
                    }
                    else if (_activeTab == 2)
                    {
                        <MudItem md=8
                                 Class="d-flex flex-column gap-4">
                            <MudCard Class="d-flex flex-column pa-4">
                                <MudText Typo=@Typo.h6>Change password</MudText>

                                <EditForm id="change-password-form"
                                          Model=@_changePassword
                                          OnValidSubmit=@OnChangePasswordValidSubmit>
                                    <DataAnnotationsValidator />
                                    <MudInputLabel Class="mt-3 mb-1">Current password</MudInputLabel>
                                    <MudTextField @bind-Value=@_changePassword.OldPassword
                                                  For=@(() => _changePassword.OldPassword)
                                                  Variant=@Variant.Outlined
                                                  InputType=@_oldPasswordInputType
                                                  Adornment=@Adornment.End
                                                  AdornmentIcon=@_oldPasswordInputIcon
                                                  OnAdornmentClick=@ToggleOldPasswordVisibility
                                                  Margin=@Margin.Dense />

                                    <MudInputLabel Class="mt-3 mb-1">New password</MudInputLabel>
                                    <MudTextField @bind-Value=@_changePassword.NewPassword
                                                  For=@(() => _changePassword.NewPassword)
                                                  Variant=@Variant.Outlined
                                                  InputType=@_newPasswordInputType
                                                  Adornment=@Adornment.End
                                                  AdornmentIcon=@_newPasswordInputIcon
                                                  OnAdornmentClick=@ToggleNewPasswordVisibility
                                                  Margin=@Margin.Dense />

                                    <MudInputLabel Class="mt-3 mb-1">Repeat password</MudInputLabel>
                                    <MudTextField @bind-Value=@_changePassword.PasswordRepeat
                                                  For=@(() => _changePassword.PasswordRepeat)
                                                  Variant=@Variant.Outlined
                                                  InputType=@_repeatPasswordInputType
                                                  Adornment=@Adornment.End
                                                  AdornmentIcon=@_repeatPasswordInputIcon
                                                  OnAdornmentClick=@ToggleRepeatPasswordVisibility
                                                  Margin=@Margin.Dense />

                                    <div class="d-flex justify-end mt-4">
                                        <MudButton Variant=@Variant.Filled
                                                   Color=@Color.Primary
                                                   ButtonType=@ButtonType.Submit>
                                            Change password
                                        </MudButton>
                                    </div>
                                </EditForm>
                            </MudCard>

                            <MudCard Class="d-flex flex-column pa-4">
                                <MudText Typo=@Typo.h6 Color=@Color.Error>Delete account</MudText>

                                <MudText Typo=@Typo.body2 Class="mt-3">
                                    Once you delete your account, there is no going back. Please be certain.
                                </MudText>

                                <MudAlert Severity=@Severity.Warning Class="mt-3">
                                    <MudText Typo=@Typo.body2>
                                        <strong>Warning:</strong> This action is permanent and cannot be undone. All your data, including:
                                    </MudText>
                                    <ul class="mt-2">
                                        <li>All boards you created</li>
                                        <li>All tasks and comments</li>
                                        <li>Your profile information</li>
                                    </ul>
                                    <MudText Typo=@Typo.body2>
                                        will be permanently deleted.
                                    </MudText>
                                </MudAlert>

                                <div class="d-flex justify-end mt-4">
                                    <MudButton Variant=@Variant.Filled
                                               Color=@Color.Error
                                               StartIcon=@Icons.Material.Filled.Delete
                                               OnClick=@OnDeleteAccountClicked>
                                        Delete my account
                                    </MudButton>
                                </div>
                            </MudCard>
                        </MudItem>
                    }
                </MudGrid>
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</AuthGuard>