@page "/login"
@using TaskTracker.WebApp.Models
@rendermode InteractiveServer

<MudSnackbarProvider />

<MudContainer Style="height: 100vh"
              Class="d-flex align-center justify-center mud-width-full">

    <MudCard Width="350px"
             Elevation=4
             Color=@Color.Primary>

        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo=@Typo.h5
                         Align=@Align.Center>
                    Log into your account
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>

        <MudCardContent Class="d-flex flex-column w-100">

            <form action="/auth/login"
                  method="post">

                <AntiforgeryToken />
                <input type="hidden" name="returnUrl" value="@ReturnUrl" />

                <MudTextField Label="Email or tag"
                              @bind-Value=@model.Login
                              UserAttributes=@(new() { { "name", "login" } })
                              Variant=@Variant.Outlined
                              Margin=@Margin.None
                              Class="mb-4"
                              Error=@_isLoginError
                              ErrorText=@_loginErrorText
                              Required=true
                              RequiredError="Email is required" />

                <MudTextField Label="Password"
                              @bind-Value=@model.Password
                              UserAttributes=@(new() { { "name", "password" } })
                              Variant=@Variant.Outlined
                              InputType=@PasswordInputType
                              Adornment=@Adornment.End
                              AdornmentIcon=@PasswordInputIcon
                              OnAdornmentClick=@TogglePasswordVisibility
                              Margin=@Margin.None
                              Class="mb-4"
                              Error=@_isPasswordError
                              ErrorText=@_passwordErrorText
                              Required=true
                              RequiredError="Password is required" />

                <MudButton ButtonType=@ButtonType.Submit
                           Variant=@Variant.Filled
                           Color=@Color.Primary
                           FullWidth=true
                           Class="mt-6"
                           Size=@Size.Large>
                    Log in
                </MudButton>
            </form>

            <div class="d-flex justify-center mt-4">
                <MudLink Href="/signup">
                    Don't have an account? Sign up.
                </MudLink>
            </div>
        </MudCardContent>
    </MudCard>
</MudContainer>
