@page "/login"
@using TaskTracker.WebApp.Models
@rendermode InteractiveServer

<MudContainer Style="height: 100vh"
              Class="d-flex align-center justify-center mud-width-full">

    <MudCard Width="350px"
             Elevation=4>

        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo=@Typo.h5
                         Align=@Align.Center>
                    Log into your account
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>

        <MudCardContent Class="d-flex flex-column w-100">

            <EditForm Model=@model
                      OnValidSubmit=@HandleLogin>
                <DataAnnotationsValidator />

                <MudTextField Label="Email or tag"
                              @bind-Value=@model.Login
                              Variant=@Variant.Outlined
                              Margin=@Margin.None
                              Class="mb-4"
                              Error=@_isLoginError
                              ErrorText=@_loginErrorText
                              Disabled=@_isProcessing
                              Required=true
                              RequiredError="Email is required" />

                <MudTextField Label="Password"
                              @bind-Value=@model.Password
                              Variant=@Variant.Outlined
                              InputType=@PasswordInputType
                              Adornment=@Adornment.End
                              AdornmentIcon=@PasswordInputIcon
                              OnAdornmentClick=@TogglePasswordVisibility
                              Margin=@Margin.None
                              Class="mb-4"
                              Error=@_isPasswordError
                              ErrorText=@_passwordErrorText
                              Disabled=@_isProcessing
                              Required=true
                              RequiredError="Password is required" />

                <MudButton ButtonType=@ButtonType.Submit
                           Variant=@Variant.Filled
                           Color=@Color.Primary
                           FullWidth=true
                           Class="mt-6"
                           Size=@Size.Large
                           Disabled=@_isProcessing>
                    @if (_isProcessing)
                    {
                        <MudProgressCircular Class="ms-n1" Size=@Size.Small Indeterminate=true />
                        <MudText Class="ms-2">Logging in...</MudText>
                    }
                    else
                    {
                        <MudText>Log in</MudText>
                    }
                </MudButton>
            </EditForm>

            <div class="d-flex justify-center mt-4">
                <MudLink Href="/signup">
                    Don't have an account? Sign up.
                </MudLink>
            </div>
        </MudCardContent>
    </MudCard>
</MudContainer>
