@page "/signup"
@using TaskTracker.WebApp.Models
@rendermode InteractiveServer

<MudSnackbarProvider />

<MudContainer Style="height: 100vh"
              Class="d-flex align-center justify-center mud-width-full">

    <MudCard Width="400px"
             Elevation=4
             Color=@Color.Primary>

        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo=@Typo.h5
                         Align=@Align.Center>
                    Create a new account
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>

        <MudCardContent Class="d-flex flex-column w-100">

            <EditForm EditContext=@_editContext
                      OnValidSubmit=HandleSignup>

                <DataAnnotationsValidator />

                <MudTextField Label="Email"
                              @bind-Value=@model.Email
                              For=@(() => model.Email)
                              UserAttributes=@(new() { { "name", "email" } })
                              Variant=@Variant.Outlined
                              Margin=@Margin.None
                              Class="mb-4" />

                <MudTextField Label="Password"
                              @bind-Value=@model.Password
                              For=@(() => model.Password)
                              UserAttributes=@(new() { { "name", "password" } })
                              Variant=@Variant.Outlined
                              InputType=@PasswordInputType
                              Adornment=@Adornment.End
                              AdornmentIcon=@PasswordInputIcon
                              OnAdornmentClick=TogglePasswordVisibility
                              Margin=@Margin.None
                              Class="mb-4" />

                <MudTextField Label="Repeat password"
                              @bind-Value=@model.RepeatPassword
                              For=@(() => model.RepeatPassword)
                              UserAttributes=@(new() { { "name", "repeatPassword" } })
                              Variant=@Variant.Outlined
                              InputType=@RepeatPasswordInputType
                              Adornment=@Adornment.End
                              AdornmentIcon=@RepeatPasswordInputIcon
                              OnAdornmentClick=ToggleRepeatPasswordVisibility
                              Margin=@Margin.None
                              Class="mb-4" />

                <MudTextField Label="Display name"
                              @bind-Value=@model.DisplayName
                              For=@(() => model.DisplayName)
                              UserAttributes=@(new() { { "name", "displayName" } })
                              Variant=@Variant.Outlined
                              Margin=@Margin.None
                              Class="mb-4" />

                <MudTextField Label="Tag"
                              @bind-Value=@model.Tag
                              For=@(() => model.Tag)
                              UserAttributes=@(new() { { "name", "tag" } })
                              Variant=@Variant.Outlined
                              Adornment=@Adornment.Start
                              AdornmentText=@("@")
                              Margin=@Margin.None
                              Class="mb-4" />

                <MudButton ButtonType=@ButtonType.Submit
                           Variant=@Variant.Filled
                           Color=@Color.Primary
                           FullWidth=true
                           Class="mt-6"
                           Disabled=@_isProcessing
                           Size=@Size.Large>
                    @if (_isProcessing)
                    {
                        <MudProgressCircular Class="ms-n1" Size=@Size.Small Indeterminate=true />
                        <MudText Class="ms-2">Processing...</MudText>
                    }
                    else
                    {
                        <MudText>Sign up</MudText>
                    }
                </MudButton>
            </EditForm>

            <div class="d-flex justify-center mt-4">
                <MudLink Href="/login">
                    Already have an account? Log in.
                </MudLink>
            </div>
        </MudCardContent>
    </MudCard>
</MudContainer>
