::deep .task:hover {
    background: var(--mud-palette-secondary-darken) !important;
    transition: 0.3s;
}

::deep .task-add-field .mud-input.mud-input-filled {
    background-color: transparent !important;
    color: white;
}

    ::deep .task-add-field .mud-input.mud-input-filled:hover {
        background-color: transparent !important;
    }

    ::deep .task-add-field .mud-input.mud-input-filled::before {
        border-bottom: none !important;
    }

    ::deep .task-add-field .mud-input.mud-input-filled.mud-input-underline:after {
        border-bottom: none;
    }

::deep .mud-input > input.mud-input-root.mud-input-root-filled {
    padding: 15px !important;
}

.custom-scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--mud-palette-primary-lighten) !important;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--mud-palette-primary);
}

::deep .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--mud-palette-primary) transparent;
}
