@page "/"
@using TaskTracker.WebApp.Components.Layout.Headers
@rendermode InteractiveServer

<MudLayout>

    <Header/>

    <MudMainContent>
        <MudContainer Class="mt-8">
            <MudStack>

                <MudStack Row=true
                          AlignItems=@AlignItems.Center
                          Justify=@Justify.SpaceBetween>

                    <MudText Typo=@Typo.h5>
                        Your boards
                    </MudText>

                    <MudButton Variant=@Variant.Filled
                               Color=@Color.Primary
                               StartIcon=@Icons.Material.Filled.Add>
                        Create a board
                    </MudButton>
                </MudStack>

                <MudStack>
                    @foreach (var board in Boards)
                    {
                        <MudPaper Elevation=4
                                  Class="board-card">
                            <MudStack>

                                <MudText Typo=@Typo.h6>
                                    @board.Title
                                </MudText>

                                <MudStack Row=true AlignItems=@AlignItems.Center>
                                    <MudText Typo=@Typo.body2
                                             Class="board-meta">
                                        @board.TasksCount tasks&nbsp;&nbsp;
                                        @board.MembersCount members
                                    </MudText>

                                    <MudSpacer />

                                    <MudButton Variant=@Variant.Text>
                                        <MudIcon Icon=@Icons.Material.Filled.AccountCircle
                                                 Color=@Color.Inherit
                                                 Size=@Size.Large
                                                 Class="mr-2">
                                        </MudIcon>

                                        <MudText Typo=@Typo.body2>
                                            @board.OwnerName
                                        </MudText>
                                    </MudButton>
                                </MudStack>

                            </MudStack>
                        </MudPaper>
                    }
                </MudStack>
                <form action="/auth/logout" method="get">
                    <AntiforgeryToken />

                    <!-- temporarily -->
                    <MudButton ButtonType=ButtonType.Submit
                               Variant=Variant.Filled
                               Color=Color.Error
                               StartIcon=@Icons.Material.Filled.Logout>
                        Logout
                    </MudButton>
                </form>
            </MudStack>

        </MudContainer>
    </MudMainContent>

</MudLayout>
